* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
}

body {
    background-color: #1A0B2E;

}
.btn-gradient {
    border: none;
    color: #FFFFFF;
    border-radius: 10000px;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 1.5rem;
    background: linear-gradient(90deg,
            #FFB347,
            #FF5ACD,
            #8A2BE2);
    cursor: pointer;
}
.header {
    background-color: #1A0B2E;
    width: 100%;
    
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 2rem;
}
.hamburger-icon {
    display: none;
    cursor: pointer;
}

hr {
    border: none;
    height: 1px;
    background-color: #FFFFFF33;
    margin: 0;
}

.logo h1 {
    color: #FFFFFF;
    font-size: 1.8rem;
    font-weight: 700;
}

.logo .wave,
.footer-logo .wave {
    font-size: 1.8rem;
    font-weight: 700;
    background: linear-gradient(50deg,
            #F7E93F,
            #FB09B4,
            #7B1EBE);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.menu ul {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
}
.hero-section {
    background: url('./assets/hero-bg.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mic-section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.microphone {
    position: absolute;

}
.hero-section2{
    margin-top: 3rem;
}

.new {
    position: absolute;
    top: 10px;
    right: 8rem;
    background-color: #00FF88;
    color: #000000;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-radius: 12px;
    border: none;
    box-shadow: #00000033 0px 4px 6px -1px, #0000001a 0px 2px 4px -1px;
}

.hero-content {
    text-align: center;
    color: #FFFFFF;
    margin-top: 5rem;
}

.hero-content h2 {
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

.hero-content p {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 2rem;
    color: #FFFFFFD7;
}

.btn-gradient2 {
    border: 1px solid #00FF88;
    border-radius: 10000px;
    cursor: pointer;
    color: #00FF88;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 1.5rem;
    background: #1A0B2E;
}

.spotify {
    display: inline-flex;
    align-items: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    
    margin: 1rem 1rem;
}

main {
    background: #1A0B2E;
    margin-top: 3rem;

}

.t {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-title {
    text-align: center;
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 2rem;
}

.about-section p {
    text-align: center;
    color: #FFFFFFD1;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    max-width: 50rem;
    margin-bottom: 4rem;
    justify-self: center;
}

.about-card-container {

    display: grid;
    grid-template-columns: repeat(4, minmax(0,1fr));
    gap: 2rem;
    max-width: 75%;
    margin: 2rem auto 4rem auto;
    padding: 0 1rem;
}

.card-title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0.75rem;
    color: #00FF88;
}

.card p {
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFFD1;
    line-height: 1.5;
}

.card {
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.tech-section {
    background: #230E3D;
    margin: 3rem 0;
}

.tech-container {
    max-width: 75%;
    display: grid;
    padding: 2rem 0;
    margin: 0 auto;
    justify-content: space-around;
    align-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;    
}

.row-card {
    grid-row: span 2;
}

.col-card {
    grid-column: span 2;
}

.tech-card {
    border: none;
    border-radius: 2.5rem;
    align-content: center;
    padding: 1rem 2rem;
    background: rgba(53, 17, 101, 0.4);
}

.tech-card h3 {
    color: #FFFFFF;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;    
}

.tech-card p {
    color: #FFFFFFD1;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.tech-title {
    color: #FFFFFF;
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 1rem;
    margin-top: 1rem;
    position: relative;
    top: 1.5rem;
}


.feature h3 {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 800;    
}

.feature-cont {
    display: grid;
    max-width: 90%;
    margin: 0 auto;
    justify-content: space-around;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;    
}

.feature-card {
    border: none;
    background: #230E3D;
    align-content: center;
    border-radius: 2.5rem;
}

.feature-card iframe {
    border: none;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    width: 100%;
    aspect-ratio: 16 / 9;
}

.feature-card h3 {
    color: #FFFFFF;
    text-align: start;
    margin: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
}

.feature-card p {
    color: #FFFFFFD1;
    font-size: 1rem;
    font-weight: 400;
    margin: 1rem;
    text-align: start;
    line-height: 1.5;
}

.feature .feature-cont .feature-card .time {
    color: #00FF88;
    margin: 1rem;
    align-items: center;
    font-size: 1rem;
    font-weight: 700;
}

.host-section {
    background: #1A0B2E;
    margin: 3rem 0;
}

.host-section>h2 {
    text-align: center;
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.host-cont {
    background: #230E3D;
    border: none;
    margin: 0 auto;
    display: flex;
    padding: 2rem;
    justify-content: space-evenly;
    border-radius: 2.5rem;
    max-width: 75%;
    gap: 2rem;
}

.host-details h2 {
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.host-details p {
    color: #FFFFFFD1;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 2rem;
}

.host-icon-cont {
    display: flex;
    gap: 1rem;
}

.icon {
    border: 2px solid #FFFFFF33;
    border-radius: 50%;
}

.icon img {
    padding: 0.5rem;
    width: 2.25rem;
    height: 2rem;
    cursor: pointer;
}

.footer-banner {
    background: url('./assets/footer-bg.png');
    margin-top: 2rem;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;   
}

.footer-logo h1 {
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 700;
}

.footer-logo .wave {
    font-size: 3rem;
    font-weight: 700;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.footer-icon-cont {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
}

.footer-icon {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.footer-icon p {
    color: #FFFFFFC7;
    font-size: 1rem;
}

.footer-content p {
    color: #FFFFFF99;
    font-size: 1rem;
    margin: 1rem 0;
}
.allbtn:active{
        animation: allbtn 0.3s ease-in-out infinite alternate;
}
@keyframes allbtn {
    from {
        transform: scale(1);
    }
    to{
        transform: scale(1.15);
    }
    
}


















@media (max-width: 576px) {
    .menu {
        display: none;
    }

    .hamburger-icon {
        display: inline-block;
        position: absolute;
        right: 3rem;
    }
    .mobNav{
        display: flex;
        justify-content:space-between;
        align-items: center;
    }

    #btn {
        display: none;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }

    .hero-section {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        padding: 1rem 1rem;
        min-height: 15rem;
        height: auto;
    }

    .mic-section .circle {
        width: 12rem;
        height: 12rem;
    }
    .hero-section2{
    margin-top: 0.5rem;
}

    .mic-section {
        position: relative;
        margin-top: 5rem;
    }


    .microphone {
        width: 4rem;
    }

    .hero-content h2 {
        font-size: 2rem;
        font-weight: 800;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        padding: 0 1rem;
    }

    .hero-content p {
        margin-bottom: 0.5rem;
    }

    .spotify {

        padding: 0.75rem;
        gap: 0.75rem;
        display: inline-flex;
        margin: 0.5rem 0.5rem;
    }
    .btn-container{
        display: flex;
        justify-content: space-around;
        margin: 1rem auto;
    }

    .about-card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        justify-content: space-around;
        margin-bottom: 1rem;
        margin-top: 1rem;
        max-width: 90%;
    }

    .hero-content {
        margin-top: 1rem;
    }

    .new {
        right: 3.5rem;
        top: 1rem;
    }

    .about-title {
        font-size: 2rem;
        font-weight: 700;
    }

    .about-section p {
        text-align: center;
        margin-bottom: 1rem;
    }

    .tech-container {
        max-width: 95%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0.75rem;
    }

    .card-title,
    .feature h3,
    .tech-title,
    .footer-logo .wave,
    .footer-logo h1 {
        font-size: 2rem;
    }

    .tech-card h3,
    .feature-card h3,
    .host-details h2 {
        font-size: 1.5rem;
    }

    .feature-cont {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        max-width: 95%;
    }

    .host-section>h2 {
        font-size: 2rem;
        font-weight: 800;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .host-cont {
        background: #230E3D;
        border: none;
        border-radius: 2.5rem;
        max-width: 95%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: space-evenly;
        align-items: center;
        padding: 1rem;
    }

    .host-details {
        text-align: center;
        align-content: center;
    }

    .host-icon-cont {
        display: flex;
        align-items: center;
        justify-content: center;
    }

  .footer-banner {
        background: url('./assets/footer-bg.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-top: 2rem;
        width: 100%;
        padding: 1rem 1rem;
        min-height: 15rem;
        height: auto;
    }


    .footer-content {
        padding: 2rem 0;
        position: relative;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .footer-content p , .footer-copy {
        font-size: 0.875rem;
        margin: 0.5rem 0;
        text-align: center;
    }

    .footer-icon-cont {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 ;
    }    
}